node_modules/
.DS_Store
Thumbs.db
trailer for edit.mp4
Website Main Video.mp4
*.py
theme_backup_crimson/
framework_original.html
*.png
!images/**/*.png
!assets/*.png
!assets/**/*.png
!**/favicon*.png
